@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

:root{
    --black: #051400;
    --green: #1a472a;
    --yellow: #ffbf00;
    --light-green: #36802d;
    --light-black-color: #666;
    --white: #fff;
    --light-bg: #e4ff9bf6;
    --box-shadow: 1px 5px 15px rgba(0,0,0,.1);
    --border: 2px solid rgba(0,0,0,.8);
    --outline: 1px solid rgba(0,0,0,.1);
    --outline-hover: 5px solid var(--light-green);
}

img{
    height: auto;
    width: auto;
}

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap:15px;
}

html{
    font-size: 70%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 50px;

    &::-webkit-scrollbar{
        width: 10px;
    }
    &::-webkit-scrollbar-track{
        background: var(--white);
    }
    &::-webkit-scrollbar-thumb{
        background: var(--black);
    }
}

section{
    padding: 50px 9%;
}

.btn{
    margin-top: 10px;
    display: inline-block;
    border: var(--border);
    border-radius: 5px;
    color: var(--black);
    cursor: pointer;
    background: none;
    font-size: 17px;
    padding: 10px 30px;

    &:hover{
        background: var(--black);
        color: var(--white);
    }
}

.heading{
    text-align: center;
    margin-bottom: 25px;
    font-size: 40px;
    color: var(--black);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 9%;
    z-index: 1000;
    display: flex;
    align-items: center;

    &.active{
        background: var(--white);
        box-shadow: var(--box-shadow);
    }

    .logo{
        margin-right: auto;
        font-size: 25px;
        color: var(--black);
        font-weight: 600;
    }
    i{
        color: var(--light-green);
    }

    .navbar{
        a{
            margin-left: 20px;
            font-size: 17px;
            color: var(--black);

            &:hover{
                color: var(--light-green);
            }
        }

        #nav-close{
            font-size: 50px;
            cursor: pointer;
            color: var(--black);
            display: none;
        }
    }

    .icons a,
    .icons div{
        font-size: 20px;
        margin-left: 20px;
        cursor: pointer;
        color: var(--black);

        &:hover{
            color: var(--light-green);
        }
    }

    #menu-btn{
        display: none;
    }
}

.search-form{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    transform: translateY(-110%);

    &.active{
        transform: translateY(0%);
    }

    #close-search{
        position: absolute;
        top: 15px;
        right: 25px;
        cursor: pointer;
        color: var(--white);
        font-size: 60px;
        
        &:hover{
            color: var(--light-green);
        }
    }
    form{
        width: 700px;
        margin: 0 20px;
        padding-bottom: 20px;
        border-bottom: 2px solid var(--white);
        display: flex;
        align-items: center;
        
        input{
            width: 100%;
            font-size: 20px;
            color: #fff;
            text-transform: none;
            background: none;
            padding-right: 20px;

            &::placeholder{
                color: #aaa;
            }
        }
        label{
            font-size: 30px;
            cursor: pointer;
            color: var(--white);

            &:hover{
                color: var(--light-green);
            }
        }
    }
}

.home{
    padding: 0;
    
    .box{
        min-height: 100vh;
        display: flex;
        align-items: center;
        background-size: cover !important;
        background-position: center !important;
        justify-content: flex-end;
        padding: 20px 9%;

        &.second{
            justify-content: flex-start;
        }
        .content{
            width: 500px;

            span{
                font-size: 40px;
                color: var(--black);
            }
            h3{
                font-size: 60px;
                color: var(--green);
                font-weight: 700;
                padding-top: 15px;
                text-transform: uppercase;
            }
            p{
                line-height: 2;
                color: var(--black);
                font-size: 15px;
                padding: 10px 0;
            }
        }
    }
}
.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 30px;
    color: var(--black);
}

.category{
    .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

        .box{
            text-align: center;
            padding: 10px;
            
            img{
                height: 200px;
                width: 200px;
                border-radius: 50%;
                margin-bottom: 15px;
            }
            h3{
                font-size: 20px;
                color: var(--light-green);
            }
            p{
                font-size: 16px;
                color: var(--black);
                padding: 10px 0;
                line-height: 2;
            }
        }
    }
}

.about{
    background: var(--light-bg);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    .image{
        flex: 1 1 420px;
        padding-right: 50px;
        padding-bottom: 50px;

        img{
            width: 100%;
            box-shadow: 30px 30px rgba(0,0,0,.1);
            border-radius: 10px;
        }
    }
    .content{
        flex: 1 1 420px;

        h3{
            font-size: 30px;
            color: var(--green);
        }
        p{
            font-size: 15px;
            color: var(--black);
            padding: 10px 0;
            line-height: 2;
        }
    }
}

.shop{
    .slide{
        border-radius: 2%;
        border: 1.5px solid rgba(0,0,0,.8);
        
        &:hover .image .icons{
            transform: translateY(0);
        }

        .image{
            position: relative;
            overflow: hidden;
            height: 300px;
            width: 100%;
            border-radius: 3%;

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            .icons{
                width: 100%;
                position: absolute;
                bottom: 20px; left: 0;
                text-align: center;
                z-index: 10;
                transform: translateY(70px);

                a{
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    line-height: 42px;
                    font-size: 15px;
                    background: var(--black);
                    color: var(--white);
                    margin: 0 2px;

                    &:hover{
                        background: var(--green);
                    }
                }
            }
        }
        .content{
            padding: 10px 0;
            text-align: center;

            h3{
                font-size: 20px;
                color: var(--black);
            }
            .price{
                padding: 10px 0;
                padding-top: 5px;
                font-size: 20px;
                color: var(--green);
            }
            .stars i{
                font-size: 17px;
                color: var(--black);
            }
        }
    }
}

.packages{
    background: var(--light-bg);

    .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

        .box{
            text-align: center;
            background: var(--white);
            margin: 20px;
            border: var(--border);
            box-shadow: var(--box-shadow);
            border-radius: 5px;

            &:hover{
                background: var(--black);

                .content > *{
                    color: var(--white);
                }
                .btn{
                    border-color: var(--white);

                    &:hover{
                        background: var(--white);
                        color: var(--black);
                    }
                }
            }

            .image{
                height: 250px;
                overflow: hidden;
                padding: 20px;
                padding-bottom: 0;
                border-radius: 5px;

                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }
            }
            .content{
                padding: 20px;

                h3{
                    font-size: 20px;
                    color: var(--black);
                }
                p{
                    font-size: 15px;
                    color: var(--black);
                    padding: 10px 0;
                    line-height: 2;
                }
                .price{
                    font-size: 20px;
                    color: var(--green);
                }
            }
        }
    }
}

















/* media screen */

@media (max-width:1200px) {
    .header{
        padding: 20px;
    }
    section{
        padding: 30px 20px;
    }
}
@media (max-width:991px) {
    html{
        font-size: 55%;
        scroll-padding-top: 70px;
    }
    .home .box{
        padding: 20px;
        justify-content: center;
        background-position: right !important;

        &.second{
            justify-content: center;
            background-position: left !important;
        }
        .content{
            text-align: center;

            span{
                font-size: 30px;
            }
            h3{
                font-size: 40px;
            }
        }
    }
}
@media (max-width:768px) {
    .header{
        #menu-btn{
            display: inline-block;
        }
        .navbar{
            position: fixed;
            top: 0; left: -110%;
            background: var(--white);
            z-index: 10000;
            width: 350px;
            height: 100%;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;

            &.active{
                left: 0;
                box-shadow: 0 0 0 100vw rgba(0,0,0,.5);
            }
            a{
                margin: 10px 0;
                font-size: 30px;
            }
            #nav-close{
                display: block;
                position: absolute;
                top: 10px;
                right: 20px;
            }
        }
    }
    .swiper-button-next::after,
    .swiper-button-prev::after{
        display: none;
    }

}
@media (max-width:450px) {
    html{
        font-size: 50%;
    }
    .heading{
        font-size: 30px;
    }
}