@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

:root{
    --black: #0d0100;
    --green: #1a472a;
    --yellow: #ffbf00;
    --light-green: #36802d;
    --light-black-color: #666;
    --white: #fff;
    --light-bg: #c9df8a;
    --box-shadow: 1px 5px 15px rgba(0,0,0,.1);
    --border: 2px solid rgba(0,0,0,.1);
    --outline: 1px solid rgba(0,0,0,.1);
    --outline-hover: 5px solid var(--light-green);
}

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap:15px;
}

html{
    font-size: 70%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 50px;

    &::-webkit-scrollbar{
        width: 10px;
    }
    &::-webkit-scrollbar-track{
        background: var(--white);
    }
    &::-webkit-scrollbar-thumb{
        background: var(--black);
    }
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 9%;
    z-index: 1000;
    display: flex;
    align-items: center;

    .logo{
        margin-right: auto;
        font-size: 25px;
        color: var(--black);
        font-weight: 600;
    }
    i{
        color: var(--light-green);
    }

    .navbar{
        a{
            margin-left: 20px;
            font-size: 17px;
            color: var(--black);

            &:hover{
                color: var(--light-green);
            }
        }
    }

    .icons a,
    .icons div{
        font-size: 20px;
        margin-left: 20px;
        cursor: pointer;
        color: var(--black);

        &:hover{
            color: var(--light-green);
        }
    }

    #menu-btn{
        display: none;
    }
}













/* media screen */

@media (max-width:1200px) {
    .header{
        padding: 20px;
    }
}
@media (max-width:991px) {
    html{
        font-size: 55%;
    }
}
@media (max-width:768px) {
    .header{
        #menu-btn{
            display: inline-block;
        }
        .navbar{
            position: fixed;
            top: 0; left: 0;
            background: var(--white);
            z-index: 10000;
            width: 350px;
            height: 100%;
            box-shadow: 0 0 0 100vw rgba(0,0,0,.5);
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;

            a{
                margin: 10px 0;
                font-size: 30px;
            }
        }
    }
}
@media (max-width:450px) {
    html{
        font-size: 50%;
    }
}